.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        
    }
    .slick-prev, .slick-next {
        width: 31px;
        height: 50px;
        position: absolute;
        border: none;
        background: none;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -66px;
    
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        li {
            list-style-type: none;
            margin: 0 5px;
        }
        
    }
}